/* Horizontal segments (a, d, g) */
.seg-a, .seg-d, .seg-g {
    width: 5.5vw;
    height: 1vw;
    left: 1.25vw;
    clip-path: polygon(0.6vw 0, 100% 0, 100% 100%, 0.6vw 100%, 0 50%);
}

.seg-a { top: 0; }
.seg-d { bottom: 0; }
.seg-g { top: 6.5vw; }
