.segment {
    width: 8vw;
    height: 14vw;
    position: relative;
    min-width: 50px;
    min-height: 87px;
    max-width: 120px;
    max-height: 210px;
}

.segment-part {
    position: absolute;
    background: #331;
    transition: background 0.1s;
}

.segment-part.on {
    background: #00ff00;
    box-shadow: 0 0 15px #00ff00, 0 0 30px #00ff00;
}
